.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}



.columns-2-cols.columns > div > div:first-child {
  width: 124px;
  flex-shrink: 0;
  margin-right: 30px;
  height: 100%;
  max-height: 100%;
  justify-content: center;
  display: flex;

}



.columns-container{
  width: 92vw;
    max-width: 1200px;
    margin: 0 auto;
}

main .section.columns-container{
  padding: 64px 0px;
  background-color: #d9d8d633;
}