/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
  position: relative;;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
 
  padding: 32px;
  min-height: 300px;
}

main .hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
/* 
main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
} */

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero.block{
  width: 92vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 0 0px;
  

}
.hero.block + div{
  background-image: url(/icons/bg.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    
    
}

.hero.block .banner-imagetext{
  background-image: url("/icons/bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    position: absolute;
    bottom: 11px;
    animation: slide-in 0.5s forwards;
    width: 730px;
    height: 350px;
    left: 0;
}



.banner-imagetext h2{
  font-weight: 300;
  color: #ffaf00;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: unset;
  position: relative;
}

.banner-imagetext p{
font-size: 16px;
color: #fff;
}

.banner-imagetext > div{
width: 730px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 52%;
  margin: 0 auto;
}

.hero.block picture{
  line-height: unset;
  display: inline-flex;
}